/* Styling for the heading */
h1 {
    text-align: center;
    background-color: rebeccapurple;
    color: #fff;
    padding: 10px;
    margin-top: 0;
}

/* Styling for the weather wrapper */
.weather-wrapper {
    display: flex;
}

/* Styling for the left side of the weather wrapper */
.left-side {
    width: 20%;
    margin-right: 30px;
}

/* Styling for the heading within the left side */
.left-side h2 {
    margin-top: 0;
}

/* Styling for the right side of the weather wrapper */
.right-side {
    display: none;
    width: 80%;
}

/* Styling for the search history container */
#search-history-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

/* Styling for the buttons within the search history container */
#search-history-container button {
    margin: 5px;
    background-color: gray;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 8px;
}

/* Styling for the current weather container */
#current-weather-container {
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
}

/* Styling for the image within the current weather container */
#current-weather-container img {
    width: 35px;
}

/* Styling for the heading within the current weather container */
#current-weather-container h2 {
    display: inline-block;
    font-size: x-large;
    height: 25px;
    width: 75px;
    
}
/* Styling for the date and image within the current weather container */
p.date-image {
    display: inline-block;
    font-size: x-large;
    
}

/* Styling for the forecast container */
#forecast-container {
    display: flex;
}

/* Styling for the cards within the forecast container */
#forecast-container .card {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: calc(100%/5 - 20px);
    background-color: rebeccapurple;
    color: #fff;
}